@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body {
    background-color: rgb(46, 43, 43);
}


.logo {
    background-color: rgba(45, 45, 135, 0.29);
    /* font-family: 'Brush', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-family:'Sevillana', cursive;
    ;
    text-align: center;
    /* text-decoration: underline wavy whitesmoke; */
    font-size: 3.5em;
    font-weight: 500;
    color: whitesmoke;
    border-radius: 40%;



}

.header {
    text-align: center;
    background-color: rgb(45, 45, 135);
    padding: 35px;
    margin: 45px 10px 2px;
    background-image: url(../images/pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg);
    background-position: bottom;
    border-radius: 30px;

}

.a1 {
    font-size: 1rem;
    font-weight: 700;
    display: block;
    padding: 10px 5px 10px;
    border-radius: 20%;
    margin: 5px;
    text-decoration: none;
    color: whitesmoke;
    
}

.d1 {
    /* background-color: #4096A5; */
    border-radius: 20px;
    margin-top: 5px;
    align-items: center;
    float: left;
    width: 15%;
    height: 100vh;

    /* margin-left: 25px;
    margin-right: 7px; */
}

.d2 {
    /* background-color: #4096A5; */
    border-radius: 20px;
    margin-top: 5px;
    align-items: center;
    float: left;
    height: 100vh;
    width: 70%;
}

.d3 {
    /* background-color: #4096A5; */
    border-radius: 20px;
    margin-top: 5px;
    align-items: center;
    float: right;
    height: 100vh;
    width: 15%;
    /* margin-left: 7px;
    margin-right: 25px; */
}

.c1 {
    background-color: #4096A5;
    height: 99%;
    border-radius: 20px;
    z-index: 2;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
}
.c2 {
    color: whitesmoke;
}
/* .d4 {
    background-color: #4096A5;
    border-radius: 40px;
    margin: 14px 25px 14px;
    align-items: center;
    padding: 30px;
} */

/* .t1 {
    padding: 10px;
}

.f {
    background-color: #4096A5;
} */



/* .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 5s;
} */


.nav-bar {
    text-align: center;
 }
 
 h3 {
     padding: 30px;
     text-align: center;
     font-size: 3em;
    
     
 }
 
 
 
 
 .under:hover {
     text-decoration: underline solid #4096A5;
     transition: 2s;

 }
 
 /* .p1 {
     height: 200px;
     width: auto;
     border-radius: 40px;
     align-items: center;
     margin-left: 140px;
     padding: 25px;
     
     
 } */

ul {
    list-style: none;
    padding: 0;
}
li:hover {
    background-color: rgb(31, 103, 219);
    transition: 2s;
    padding: 3px;
    border-radius: 20px;
    
}

.menu:hover {
    transition: 2s;
    position: absolute;
}

h4 > a {
    text-decoration: none;
    color: rgb(0, 53, 29);
}

.menu {
    font-size: 1.2em;

}